<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>wemeet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->


</head>

<body>
 



    <!-- slider_area_start -->
    <div class="slider_area slider_bg_1">
        <div class="slider_text">
            <div class="container">
                <div class="position_relv">
                 
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="title_text">
                                <h3 class="m-0">WeMeet </h3> 
                                <h4 class="mb-3" style="color:white; font-size: 2em">¡Crea, Descubre, Conecta!</h4>
                                    
                                <a href="#" class="boxed-btn-white mt-3 w-50"  routerLink="/register-consumidor">Regístrate como Consumidor de Eventos</a><br>
                                <a href="#" class="boxed-btn-white mt-3 w-50" routerLink="/register-ofertante">Regístrate como Orfertante de Eventos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <!-- slider_area_end -->

     <!-- about_area_start -->
     <div class="about_area">
      
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-6">
                    <div class="about_thumb">
                        <!-- <div class="about"></div> -->
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <div class="d-block w-100 about"  alt="First slide"></div>
                              </div>
                              <div class="carousel-item">
                                <div class="d-block w-100 about"  alt="First slide"></div>
                              </div>
                              <div class="carousel-item">
                                <div class="d-block w-100 about"  alt="First slide"></div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-md-6">
                    <div class="about_info">
                        <div class="section_title">
                            <span class="sub_heading">Welcome To</span>
                            <h3>WeMeet <h3></h3> <br>
                                La página de eventos <br>
                                del siglo XXI</h3>
                        </div>
                        <p>WeMeet es la red social donde tus planes cobran vida. Descubre, organiza y comparte eventos emocionantes con amigos y nuevos conocidos. Desde conciertos y festivales hasta reuniones íntimas, nuestra plataforma te mantiene al tanto de lo que sucede a tu alrededor y te ayuda a crear experiencias memorables.</p>
                        <a href="#" class="boxed-btn-red">Para leer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    

    



   













    






    <!-- JS here -->
    <!-- <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/plugins.js"></script>

    contact js-->


    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script> 

</body>

</html>
