<app-nav></app-nav>

<router-outlet />

<!-- footer_start -->
<footer class="footer footer_bg_1">
    <div class="circle_ball d-none d-lg-block">
       
    </div>
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Sígueme
                            </h3>
                            <ul>
                                <li><a target="_blank" href="#">Facebook</a></li>
                                <li><a target="_blank" href="#">Twitter</a></li>
                                <li><a target="_blank" href="#">Instagram</a></li>
                                <li><a target="_blank" href="#">Youtube</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Enlaces de interés
                            </h3>
                            <ul>
                                <li><a target="_blank" >Sobre mí</a></li>                               
                                <li><a target="_blank">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Contacto
                            </h3>
                            <p>
                                Sevilla <br>
                              <br>
                                +34 619 121 802
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
<!-- footer_end -->
