<div class="event_area plus_padding" style="margin-top: 40vh">
    <h1 class="vr_text d-none d-lg-block">Lista de Eventos</h1>
    <div class="container">

        <div class="double_line">

            @for (e of eventos; track $index) {

            <div class="row">
                <div class="col-xl-3 col-lg-3">

                    <div class="date">
                        <h3>{{e.fecha | date}}</h3>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9">
                    <div class="single_speaker">
                        <img src="img/speakers/seaker1.png" alt="">
                        <div class="speaker-name">
                            <div class="heading d-flex justify-content-between align-items-center">
                                <span>{{e.nombre}}</span>                                
                                <div class="time">
                                    Hora: {{e.hora}}
                                </div>
                            </div>
                            <p>Evento creado por: {{e.ofertante.userName}}</p>
                        </div>
                        <a routerLink="/actividad-detalle/{{e.id}}" class="boxed-btn-red">Ver en detalle</a>
                    </div>

                </div>
            </div>


            }
       

    </div>
</div>